$suffix-layout: "-layout";

$font-size-primary: 14px;
$font-size-small: 12px;
$font-size-big: 16px;
$font-size-title: 26px;

$color-primary: #3caaff;
$color-font-light: #fff;
$color-background-main: #f3f3f4;
$color-background-menu: #9aa690;
$color-background-title: #0a2739;
$color-font-base: #000;

$margin-base: 10px;
$margin-small: 5px;

$padding-base: 10px;
$padding-small: 5px;

$border-base: 1px solid #ddd;

$border-radius: 5px;

$text-align-right: right;
