html,
body {
	height: 100%;
	font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB",
		"Microsoft YaHei", SimSun, sans-serif;
	font-weight: 400;
}

.layout {
	padding: $padding-base;
	border-radius: 5px;
	background: #fff;
	margin-bottom: $margin-base;
	&:last-child {
		margin-bottom: 0;
	}
}
.el-dialog{
	border-radius: 5px;
	.el-dialog__header{
		border-bottom: 1px solid #DCDFE6;
		height: 30px;
		line-height: 30px;
		.el-dialog__headerbtn{
			top: 26px;
		}
	}
	
}

