html,
body {
	font-size: 13px;
	height: 100%;
	font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB",
		"Microsoft YaHei", SimSun, sans-serif;
	font-weight: 400;
}

.layout {
	padding: $padding-base;
	border-radius: 5px;
	background: #fff;
	margin-bottom: $margin-base;
	&:last-child {
		margin-bottom: 0;
	}
}
.el-dialog {
	border-radius: 5px;
	.el-dialog__header {
		border-bottom: 1px solid #dcdfe6;
		height: 20px;
		line-height: 20px;
		background-color: $color-primary;
		border-top-left-radius: 5px;
		border-top-right-radius: 5px;
		padding: 10px;
		.el-dialog__title,
		.el-dialog__close {
			font-size: $font-size-primary;
			color: #fff;
		}
		.el-dialog__headerbtn {
			top: 13px;
		}
	}
}
.main-layout {
	padding: $padding-base $padding-base $padding-small;
	margin: 5px;
	border-radius: 5px;
	background: #fff;
	&:first-child {
		padding-bottom: 0;
	}
}
.pull-right {
	float: right;
	margin-right: $margin-small;
	&:first-child {
		margin-bottom: 20px;
	}
}
.el-table {
	.el-table__header {
		.has-gutter {
			color: $color-font-base;
			th {
				background-color: #f2f2f2;
			}
		}
	}
}

.el-form {
	.el-form-item__label {
		color: $color-font-base;
	}
}
.marginButton {
	margin-bottom: $margin-small;
}

.scroll-top {
	position: absolute;
	top: 70px; // 头部高度
	left: 0;
	right: 0;
	z-index: 10;
}
// .el-form-item--small.el-form-item {
// 	margin-bottom: 10px;
// }

.el-input__inner,
.el-form-item__label,
.el-tabs__item {
	font-size: $font-size-small;
}

.dialog-mini {
	.el-dialog {
		width: 400px;
	}
}
