html,
body {
	height: 100%;
	font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB",
		"Microsoft YaHei", SimSun, sans-serif;
	font-weight: 400;
}

.layout {
	padding: $padding-base;
	border-radius: 5px;
	background: #fff;
	margin-bottom: $margin-base;
	&:last-child {
		margin-bottom: 0;
	}
}
